body {
    background-image: url("./images/ChatGPT\ Image\ Feb\ 17\,\ 2026\,\ 02_32_50\ PM.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    border-radius: 6px;
}

form > div > * {
    margin: 3px;
}