body {
    height: 100vh;
    margin: 0;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-image: url(./images/ChatGPT\ Image\ Feb\ 17\,\ 2026\,\ 02_33_42\ PM.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



form {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 7px;
    height: 300px;
    width: 650px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

th, td {
    padding: 5px;
}

.button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}