body {
    margin: 0;
}

.hc {
    width: 100%;
}

header {
    background-color: #93B1A6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header > h1 {
    margin-left: 5px;
}

nav {
    display: flex;
    gap: 15px;
    margin-right: 5px;
    
}

.register {
    border: #5C8374 solid 2px;
    display: flex;
    border-radius: 5px;
}

.register > a {
    text-decoration: none;
    color: #5C8374;
    padding: 5px;
}

.register > a[href]:hover {
    background-color: #5C8374;
    color: white;
}

nav > a {
    text-decoration: none;
    color: white;
    border-color: solid #5C8374;
    background-color: #5C8374;
    padding: 5px;
    border-radius: 5px;
}

main {
    display: grid;
}

table {
    background-color: #93B1A6;
    margin: 10px;
    padding: 10px;
    font-size: larger;
    border-radius: 5px;
}

td {
    padding: 10px;
    text-align: center;
}